#A1 {
    background-color: aqua;
}

#C1 {
    background-color: violet;
}

#A2 {
    background-color: yellow;
}

#C2 {
    background-color: blue;
}

#A3 {
    background-color: salmon;
}

#C3 {
    background-color: wheat;
}

header {
    background-color: gray;
}
footer {
    background-color: gray;
}
